button{
    float: left;
    width:110px;
    height: 90px;
    margin: 10px;
    text-align: center;
    background-color: white;
    font-size: 15px;
    background-image: url(obrazek.jpeg);
}

body{
    background-color: rgba(233, 233, 233, 0.678);
}

#container{
    width: 780px;
    margin: 0 auto;
}

#title{
    background-color: rgb(189, 84, 93);
    margin: 20px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#end{
    font-size: xx-large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: none;
}

#r{
    width: 100px;
    height: 50px;
    background-color: rgba(189,84,93);
    background-image: unset;
    text-align: center;
    border-radius: 20%;

}

